#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items div {
    display: inline-block;
    margin-right: 36px;
}

.nav-items img {
    display: inline-block;
    margin-right: 36px;
}

#logo {
    display: inline-block;
    margin-right: 306px;
}

.nav-items {
    display: inline-block;
}

#intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#face {
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

#intro-box-letter {
    color: #666;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 130% */
    font-style: bold;
}

#tech-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

#tech-stack {
    font-size: 30px;
    font-weight: bold;
}

.stack {
    margin-left: 10px;
    margin-right: 10px;
}

#project-title {
    font-weight: bold;
}

#project-box {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#projects-box {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}